.container{
    // width: fit-content;
    width: 40%;
    margin: auto;
    padding-top: 30px;
    border-radius: 10px;
    border: solid white 1px;
}

h2{
    text-align: center;
    text-decoration: underline;
}

.container div {
    padding: 1rem;

}
label{
    font-weight: bold;
}
