.container{
    // width: fit-content;
    width: 40%;
    margin: auto;
    padding-top: 30px;
    border-radius: 10px;
    border: solid white 1px;
    margin-bottom: 20px;
}
img{
    width: 100%;
}

h2{
    text-align: center;
    text-decoration: underline;
}

.container div {
    padding: 1rem;

}
