<nav>
    <ul>
        <li *ngIf="!isConnected">
            <a routerLink='login'>
                S'identifier
            </a>
        </li>
        <li>
            <a routerLink='register'>
                S'enregistrer
            </a>
        </li>
        <li *ngIf="isConnected">
            <a (click)="deconnexion()">
                Déconnexion
            </a>
        </li>
        <li>
            <a routerLink="club">
                Club
            </a>
        </li>
        <li>
            <a routerLink="sign-up">
                Sign-up
            </a>
        </li>
        <li>
            <a routerLink="president">
                Président
            </a>
        </li>
        <li>
            <a routerLink="inscription">
                Inscription
            </a>
        </li>
    </ul>
</nav>