/* You can add global styles to this file, and also import other style files */
*{
    background-color: rgb(31, 29, 29);
    color: rgb(199, 199, 199);
    font-size: 20px;
}
input{
    background-color: rgb(131, 131, 131);
    color: black;
}